<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %}</title>
        {% block stylesheets %}
            
        {% endblock %}

        {% block javascript %}
            
        {% endblock %}

    </head>
    <body>
        {% block body %}            
            {% apply upper %}
                Commune
            {% endapply %}

            <div class="table table-responsive">
                <table border="1">
                    <thead>
                        <tr>
                            <td>Nom du commune</td>
                            <td>Distance de l'agence</td>
                            <td>Nombre d'habitant</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for commune in communes %}
                        <tr>
                                <td>{{ commune.nomCommune }}</td>                                    
                                <td>{{ commune.distanceAgence }}</td>                                    
                                <td>{{ commune.nombreHabitant }}</td>                                    
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            
        {% endblock %}
    </body>
</html>
