<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %}</title>
        {% block stylesheets %}
            
        {% endblock %}

        {% block javascript %}
            
        {% endblock %}

    </head>
    <body>
        {% block body %}            
            {% apply upper %}
                Page
            {% endapply %}
            <p>My name is {{ name }}, I have {{ random(20, 30) }} years old.</p>
        {% endblock %}
    </body>
</html>