{% extends 'base.html.twig' %}
{% block title %}
    Modification d'un Individu    
{% endblock %}

{% block body %}
    <div class="container">
        {% apply upper %}
            Modification d' un Individu
        {% endapply %}
        <div class="form">
            <div class="form-group">
                {{form_start(form)}}
                    {{form_widget(form)}}
                {{form_end(form)}}
            </div>
        </div>
    </div>
    
{% endblock %}